openapi: 3.1.0
info:
  title: RISKCAST V3 API
  description: |
    Enterprise Insurance-Grade Risk Intelligence Platform API
    
    ## Authentication
    All endpoints require JWT authentication via Bearer token in the Authorization header.
    
    ## Versioning
    API is versioned via URL path (e.g., `/api/v3/...`)
    
    ## Rate Limiting
    - Standard: 100 requests/minute
    - Authenticated: 1000 requests/minute
    
    ## Audit Trail
    All write operations are recorded in an immutable audit ledger with hash chain verification.
    
    ## Multi-Tenancy
    All operations are automatically scoped to the authenticated user's tenant.
    
    ## Permissions
    Endpoints require specific RBAC permissions. See individual endpoint documentation.
  version: 3.0.0
  contact:
    name: API Support
    email: api-support@riskcast.com
  license:
    name: Proprietary
    url: https://riskcast.com/terms

servers:
  - url: https://api.riskcast.com/api/v3
    description: Production
  - url: https://staging-api.riskcast.com/api/v3
    description: Staging
  - url: http://localhost:8000/api/v3
    description: Local Development

tags:
  - name: Risk Assessment
    description: Risk assessment creation and management
  - name: Risk Runs
    description: Risk run execution and results
  - name: Underwriting
    description: Underwriting submissions and decisions
  - name: Policies
    description: Policy binding and management
  - name: Claims
    description: Claims processing and workflow
  - name: Evidence
    description: Evidence bundle management
  - name: Models
    description: Risk model versioning
  - name: Corridors
    description: Corridor intelligence
  - name: Analytics
    description: Loss analytics and reporting
  - name: Compliance
    description: GDPR and regulatory compliance
  - name: Audit
    description: Audit trail and integrity verification
  - name: Parametric
    description: Parametric insurance triggers and payouts

paths:
  # ===========================================================================
  # Risk Assessment
  # ===========================================================================
  /risk-assessments:
    post:
      tags: [Risk Assessment]
      summary: Create risk assessment
      description: |
        Create a new risk assessment for a shipment.
        
        The assessment is deterministic - same input will always produce same output.
        Results include risk score, VaR calculations, and risk factors breakdown.
        
        **Permission Required**: `RISK_WRITE`
      operationId: createRiskAssessment
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskAssessmentCreate'
            example:
              shipment:
                cargo_type: ELECTRONICS
                cargo_value_usd: 500000
                container_count: 10
                packaging_quality: EXCELLENT
              route:
                origin_port: CNSHA
                destination_port: NLRTM
                carrier_code: MAEU
                estimated_departure: "2024-02-01T10:00:00Z"
                estimated_arrival: "2024-03-01T10:00:00Z"
              coverage:
                coverage_type: ALL_RISK
                insured_value_cents: 50000000
                currency: USD
      responses:
        '201':
          description: Assessment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
    
    get:
      tags: [Risk Assessment]
      summary: List risk assessments
      description: |
        List risk assessments with pagination and filtering.
        
        **Permission Required**: `RISK_READ`
      operationId: listRiskAssessments
      security:
        - BearerAuth: []
      parameters:
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
            minimum: 1
        - name: status
          in: query
          schema:
            type: string
            enum: [READY, PENDING, RUNNING, COMPLETED, FAILED]
      responses:
        '200':
          description: List of assessments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessmentListResponse'

  /risk-assessments/{assessment_id}:
    get:
      tags: [Risk Assessment]
      summary: Get risk assessment
      description: |
        Get detailed information about a risk assessment.
        
        **Permission Required**: `RISK_READ`
      operationId: getRiskAssessment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AssessmentId'
      responses:
        '200':
          description: Assessment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessmentResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /risk-assessments/{assessment_id}/runs:
    post:
      tags: [Risk Assessment, Risk Runs]
      summary: Queue risk run
      description: |
        Queue a risk run for an assessment.
        
        The run will be processed asynchronously by background workers.
        
        **Permission Required**: `RISK_RUN`
      operationId: queueRiskRun
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AssessmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskRunCreate'
      responses:
        '202':
          description: Run queued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskRunResponse'

  # ===========================================================================
  # Risk Runs
  # ===========================================================================
  /risk-runs:
    get:
      tags: [Risk Runs]
      summary: List risk runs
      description: |
        List risk runs with filtering.
        
        **Permission Required**: `RISK_READ`
      operationId: listRiskRuns
      security:
        - BearerAuth: []
      parameters:
        - name: assessment_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [QUEUED, RUNNING, COMPLETED, FAILED, CANCELLED]
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: List of risk runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskRunListResponse'

  /risk-runs/{run_id}:
    get:
      tags: [Risk Runs]
      summary: Get risk run
      description: |
        Get detailed information about a risk run including results.
        
        **Permission Required**: `RISK_READ`
      operationId: getRiskRun
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          description: Risk run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskRunDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Underwriting
  # ===========================================================================
  /underwriting/submissions:
    post:
      tags: [Underwriting]
      summary: Create submission
      description: |
        Create a new underwriting submission.
        
        **Permission Required**: `UNDERWRITING_WRITE`
      operationId: createSubmission
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionCreateRequest'
      responses:
        '201':
          description: Submission created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResponse'

    get:
      tags: [Underwriting]
      summary: List submissions
      description: |
        List underwriting submissions with filtering.
        
        **Permission Required**: `UNDERWRITING_READ`
      operationId: listSubmissions
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [DRAFT, SUBMITTED, UNDER_REVIEW, REQUESTED_INFO, QUOTED, BOUND, DECLINED, EXPIRED, CLOSED]
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: List of submissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubmissionResponse'

  /underwriting/submissions/{submission_id}:
    get:
      tags: [Underwriting]
      summary: Get submission
      description: |
        Get detailed information about an underwriting submission.
        
        **Permission Required**: `UNDERWRITING_READ`
      operationId: getSubmission
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SubmissionId'
      responses:
        '200':
          description: Submission details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /underwriting/submissions/{submission_id}/decisions:
    post:
      tags: [Underwriting]
      summary: Make decision
      description: |
        Make an underwriting decision (QUOTE, DECLINE, REQUEST_INFO).
        
        **Permission Required**: `UNDERWRITING_DECIDE`
      operationId: makeDecision
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SubmissionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionCreateRequest'
      responses:
        '200':
          description: Decision created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResponse'

  # ===========================================================================
  # Policies
  # ===========================================================================
  /policies/bind:
    post:
      tags: [Policies]
      summary: Bind policy
      description: |
        Bind a policy from an accepted quote.
        
        This action:
        - Creates an immutable policy record
        - Pins the model version and risk run
        - Generates a policy document
        - Computes policy hash for integrity
        
        **Permission Required**: `POLICY_WRITE`
      operationId: bindPolicy
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyBindRequest'
      responses:
        '201':
          description: Policy bound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'

  /policies/{policy_id}:
    get:
      tags: [Policies]
      summary: Get policy
      description: |
        Get detailed information about a policy.
        
        **Permission Required**: `POLICY_READ`
      operationId: getPolicy
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PolicyId'
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /policies/{policy_id}/verify:
    get:
      tags: [Policies, Compliance]
      summary: Verify policy integrity
      description: |
        Verify that the policy has not been tampered with.
        
        **Permission Required**: `POLICY_READ`
      operationId: verifyPolicy
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PolicyId'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'

  /policies/{policy_id}/decision-pack:
    get:
      tags: [Policies, Compliance]
      summary: Download decision pack
      description: |
        Download the complete decision pack for regulatory compliance.
        
        Includes:
        - Policy details
        - Quote and pricing
        - Risk assessment
        - Model version
        - Evidence bundle manifest
        - Full audit trail
        
        **Permission Required**: `COMPLIANCE_READ`
      operationId: downloadDecisionPack
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PolicyId'
      responses:
        '200':
          description: Decision pack ZIP file
          content:
            application/zip:
              schema:
                type: string
                format: binary

  # ===========================================================================
  # Claims
  # ===========================================================================
  /claims:
    post:
      tags: [Claims]
      summary: File claim (FNOL)
      description: |
        File a First Notice of Loss.
        
        The FNOL data is immutable once filed.
        
        **Permission Required**: `claim:write`
      operationId: fileClaim
      security:
        - BearerAuth: []
      parameters:
        - name: policy_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FNOLRequest'
      responses:
        '201':
          description: Claim filed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'

    get:
      tags: [Claims]
      summary: List claims
      description: |
        List claims with filtering.
        
        **Permission Required**: `claim:read`
      operationId: listClaims
      security:
        - BearerAuth: []
      parameters:
        - name: policy_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [FNOL_RECEIVED, UNDER_INVESTIGATION, AWAITING_EVIDENCE, APPROVED, DECLINED, AUTHORIZED, PAID, CLOSED, WITHDRAWN]
        - name: assigned_to
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of claims
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClaimResponse'

  /claims/{claim_id}:
    get:
      tags: [Claims]
      summary: Get claim
      description: |
        Get detailed information about a claim.
        
        **Permission Required**: `claim:read`
      operationId: getClaim
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ClaimId'
      responses:
        '200':
          description: Claim details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /claims/{claim_id}/adjudicate:
    post:
      tags: [Claims]
      summary: Adjudicate claim
      description: |
        Make adjudication decision on a claim.
        
        Requires:
        - Evidence bundle attached
        - Status is UNDER_INVESTIGATION
        
        **Permission Required**: `claim:adjudicate`
      operationId: adjudicateClaim
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ClaimId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjudicationRequest'
      responses:
        '200':
          description: Claim adjudicated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'

  /claims/{claim_id}/authorize:
    post:
      tags: [Claims]
      summary: Authorize payout
      description: |
        Authorize payout for an approved claim.
        
        Subject to dual control for high-value claims.
        
        **Permission Required**: `claim:authorize`
      operationId: authorizeClaim
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ClaimId'
      responses:
        '200':
          description: Payout authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'

  /claims/{claim_id}/history:
    get:
      tags: [Claims]
      summary: Get claim history
      description: |
        Get the event history for a claim.
        
        **Permission Required**: `claim:read`
      operationId: getClaimHistory
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ClaimId'
      responses:
        '200':
          description: Claim event history
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClaimEvent'

  # ===========================================================================
  # Evidence
  # ===========================================================================
  /evidence/bundles:
    post:
      tags: [Evidence]
      summary: Create evidence bundle
      description: |
        Create a new evidence bundle.
        
        **Permission Required**: `EVIDENCE_WRITE`
      operationId: createEvidenceBundle
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvidenceBundleCreateRequest'
      responses:
        '201':
          description: Bundle created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceBundleResponse'

  /evidence/bundles/{bundle_id}/seal:
    post:
      tags: [Evidence]
      summary: Seal evidence bundle
      description: |
        Seal the bundle, making it immutable.
        
        A manifest hash is computed from all items.
        
        **Permission Required**: `EVIDENCE_WRITE`
      operationId: sealEvidenceBundle
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BundleId'
      responses:
        '200':
          description: Bundle sealed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceBundleResponse'

  /evidence/bundles/{bundle_id}/verify:
    get:
      tags: [Evidence]
      summary: Verify bundle integrity
      description: |
        Verify that the evidence bundle has not been tampered with.
        
        **Permission Required**: `EVIDENCE_READ`
      operationId: verifyEvidenceBundle
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BundleId'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleVerificationResult'

  # ===========================================================================
  # Models
  # ===========================================================================
  /models:
    get:
      tags: [Models]
      summary: List model versions
      description: |
        List risk model versions.
        
        **Permission Required**: `MODEL_READ`
      operationId: listModels
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [DRAFT, PUBLISHED, DEPRECATED, ARCHIVED]
      responses:
        '200':
          description: List of model versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModelVersionResponse'

  /models/{model_id}/publish:
    post:
      tags: [Models]
      summary: Publish model version
      description: |
        Publish a model version for use in risk assessments.
        
        The model becomes immutable after publishing.
        An immutable hash is computed from all parameters.
        
        **Permission Required**: `MODEL_WRITE`
      operationId: publishModel
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ModelId'
      responses:
        '200':
          description: Model published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersionResponse'

  # ===========================================================================
  # Analytics
  # ===========================================================================
  /analytics/loss-ratio:
    get:
      tags: [Analytics]
      summary: Get loss ratio metrics
      description: |
        Get loss ratio metrics for a period.
        
        **Permission Required**: `analytics:read`
      operationId: getLossRatio
      security:
        - BearerAuth: []
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: corridor_id
          in: query
          schema:
            type: string
            format: uuid
        - name: cargo_type
          in: query
          schema:
            type: string
        - name: model_version_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Loss ratio metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LossRatioResponse'

  /analytics/model-performance/{model_version_id}:
    get:
      tags: [Analytics]
      summary: Get model performance report
      description: |
        Get performance metrics for a model version.
        
        **Permission Required**: `analytics:read`
      operationId: getModelPerformance
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ModelId'
      responses:
        '200':
          description: Model performance report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelPerformanceReport'

  # ===========================================================================
  # Compliance
  # ===========================================================================
  /compliance/gdpr/export:
    post:
      tags: [Compliance]
      summary: Export user data (DSAR)
      description: |
        Export all user data for Data Subject Access Request.
        
        **Permission Required**: `COMPLIANCE_READ`
      operationId: exportUserData
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  format: uuid
              required: [user_id]
      responses:
        '200':
          description: User data export ZIP
          content:
            application/zip:
              schema:
                type: string
                format: binary

  /compliance/gdpr/delete:
    post:
      tags: [Compliance]
      summary: Delete user data
      description: |
        Process deletion request (Right to Erasure).
        
        Note: Some data may be retained for legal/regulatory reasons.
        
        **Permission Required**: `COMPLIANCE_WRITE`
      operationId: deleteUserData
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  format: uuid
              required: [user_id]
      responses:
        '200':
          description: Deletion report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionReport'

components:
  # ===========================================================================
  # Schemas
  # ===========================================================================
  schemas:
    RiskAssessmentCreate:
      type: object
      required: [shipment, route, coverage]
      properties:
        shipment:
          type: object
          required: [cargo_type, cargo_value_usd]
          properties:
            cargo_type:
              type: string
              enum: [ELECTRONICS, MACHINERY, TEXTILES, FOOD_PERISHABLE, FOOD_DRY, CHEMICALS, GENERAL]
            cargo_value_usd:
              type: number
              minimum: 1000
            container_count:
              type: integer
              minimum: 1
            packaging_quality:
              type: string
              enum: [POOR, STANDARD, GOOD, EXCELLENT]
        route:
          type: object
          required: [origin_port, destination_port]
          properties:
            origin_port:
              type: string
              description: UN/LOCODE
              example: CNSHA
            destination_port:
              type: string
              description: UN/LOCODE
              example: NLRTM
            carrier_code:
              type: string
              example: MAEU
            estimated_departure:
              type: string
              format: date-time
            estimated_arrival:
              type: string
              format: date-time
        coverage:
          type: object
          required: [coverage_type, insured_value_cents]
          properties:
            coverage_type:
              type: string
              enum: [ALL_RISK, NAMED_PERILS, TOTAL_LOSS]
            insured_value_cents:
              type: integer
              minimum: 100000
            currency:
              type: string
              default: USD

    RiskAssessmentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        created_by_user_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [READY, PENDING, RUNNING, COMPLETED, FAILED]
        input_schema_version:
          type: string
        input_hash:
          type: string
          description: SHA256 hash of canonical input
        shipment_id:
          type: string
          format: uuid
        corridor_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RiskAssessmentListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RiskAssessmentResponse'
        total:
          type: integer
        skip:
          type: integer
        limit:
          type: integer

    RiskRunCreate:
      type: object
      properties:
        model_version_id:
          type: string
          format: uuid
        mc_iterations:
          type: integer
          default: 50000
          minimum: 10000
          maximum: 100000
        seed:
          type: integer
          description: Optional seed for deterministic results

    RiskRunResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        assessment_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [QUEUED, RUNNING, COMPLETED, FAILED, CANCELLED]
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    RiskRunDetailResponse:
      allOf:
        - $ref: '#/components/schemas/RiskRunResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/RiskResult'
            provenance:
              $ref: '#/components/schemas/Provenance'

    RiskRunListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RiskRunResponse'
        total:
          type: integer

    RiskResult:
      type: object
      properties:
        risk_score:
          type: number
          minimum: 0
          maximum: 1
        var_95:
          type: number
          description: Value at Risk (95%)
        var_99:
          type: number
          description: Value at Risk (99%)
        expected_loss:
          type: number
        expected_loss_rate:
          type: number
        risk_factors:
          type: object
          additionalProperties:
            type: number

    Provenance:
      type: object
      description: Cryptographic provenance for auditability
      properties:
        model_version_id:
          type: string
          format: uuid
        model_version_name:
          type: string
        model_hash:
          type: string
        risk_run_id:
          type: string
          format: uuid
        input_hash:
          type: string
        result_hash:
          type: string
        seed:
          type: integer

    VerificationResult:
      type: object
      properties:
        valid:
          type: boolean
        stored_hash:
          type: string
        computed_hash:
          type: string
        verified_at:
          type: string
          format: date-time
        errors:
          type: array
          items:
            type: string

    SubmissionCreateRequest:
      type: object
      required: [risk_assessment_id]
      properties:
        risk_assessment_id:
          type: string
          format: uuid
        risk_run_id:
          type: string
          format: uuid
        evidence_bundle_id:
          type: string
          format: uuid
        requested_coverage_json:
          type: object
        corridor_id:
          type: string
          format: uuid
        product_type:
          type: string

    SubmissionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [DRAFT, SUBMITTED, UNDER_REVIEW, REQUESTED_INFO, QUOTED, BOUND, DECLINED, EXPIRED, CLOSED]
        risk_assessment_id:
          type: string
          format: uuid
        risk_run_id:
          type: string
          format: uuid
        evidence_bundle_id:
          type: string
          format: uuid
        created_by_user_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DecisionCreateRequest:
      type: object
      required: [decision]
      properties:
        decision:
          type: string
          enum: [QUOTE, DECLINE, REQUEST_INFO]
        terms_json:
          type: object
        evidence_bundle_id:
          type: string
          format: uuid
        risk_run_id:
          type: string
          format: uuid
        model_version_id:
          type: string
          format: uuid
        notes:
          type: string

    DecisionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        submission_id:
          type: string
          format: uuid
        decided_by_user_id:
          type: string
          format: uuid
        decision:
          type: string
        terms_json:
          type: object
        notes:
          type: string
        created_at:
          type: string
          format: date-time

    PolicyBindRequest:
      type: object
      required: [submission_id, effective_from, effective_to, policy_number]
      properties:
        submission_id:
          type: string
          format: uuid
        effective_from:
          type: string
          format: date-time
        effective_to:
          type: string
          format: date-time
        policy_number:
          type: string

    PolicyResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        policy_number:
          type: string
        submission_id:
          type: string
          format: uuid
        status:
          type: string
        effective_from:
          type: string
          format: date-time
        effective_to:
          type: string
          format: date-time
        policy_hash:
          type: string
        created_at:
          type: string
          format: date-time

    FNOLRequest:
      type: object
      required: [loss_date, loss_description, loss_amount_cents]
      properties:
        loss_date:
          type: string
          format: date-time
        loss_description:
          type: string
        loss_amount_cents:
          type: integer
        location:
          type: string
        reported_by:
          type: string

    ClaimResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        policy_id:
          type: string
          format: uuid
        status:
          type: string
        fnol_json:
          type: object
        loss_amount_cents:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ClaimDetailResponse:
      allOf:
        - $ref: '#/components/schemas/ClaimResponse'
        - type: object
          properties:
            evidence_bundle_id:
              type: string
              format: uuid
            adjudication_json:
              type: object
            history:
              type: array
              items:
                $ref: '#/components/schemas/ClaimEvent'

    AdjudicationRequest:
      type: object
      required: [decision]
      properties:
        decision:
          type: string
          enum: [APPROVE, DECLINE]
        approved_amount_cents:
          type: integer
        notes:
          type: string

    ClaimEvent:
      type: object
      properties:
        event_type:
          type: string
        timestamp:
          type: string
          format: date-time
        actor_id:
          type: string
          format: uuid
        details:
          type: object

    EvidenceBundleCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              url:
                type: string
              metadata:
                type: object

    EvidenceBundleResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [DRAFT, SEALED]
        manifest_hash:
          type: string
        created_at:
          type: string
          format: date-time

    BundleVerificationResult:
      type: object
      properties:
        valid:
          type: boolean
        stored_hash:
          type: string
        computed_hash:
          type: string
        verified_at:
          type: string
          format: date-time

    ModelVersionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        version:
          type: string
        status:
          type: string
          enum: [DRAFT, PUBLISHED, DEPRECATED, ARCHIVED]
        model_hash:
          type: string
        parameters_json:
          type: object
        created_at:
          type: string
          format: date-time

    LossRatioResponse:
      type: object
      properties:
        loss_ratio:
          type: number
        expected_loss_ratio:
          type: number
        total_premium_cents:
          type: integer
        total_loss_cents:
          type: integer
        period:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date

    ModelPerformanceReport:
      type: object
      properties:
        model_version_id:
          type: string
          format: uuid
        accuracy:
          type: number
        precision:
          type: number
        recall:
          type: number
        f1_score:
          type: number
        calibration_error:
          type: number

    DeletionReport:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        deleted_at:
          type: string
          format: date-time
        records_deleted:
          type: integer
        records_retained:
          type: integer
        retention_reason:
          type: string

    Error:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string
        code:
          type: string

  # ===========================================================================
  # Parameters
  # ===========================================================================
  parameters:
    AssessmentId:
      name: assessment_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Risk assessment ID
    
    RunId:
      name: run_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Risk run ID
    
    SubmissionId:
      name: submission_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Underwriting submission ID
    
    PolicyId:
      name: policy_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Policy ID
    
    ClaimId:
      name: claim_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Claim ID
    
    BundleId:
      name: bundle_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Evidence bundle ID
    
    ModelId:
      name: model_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Model version ID

  # ===========================================================================
  # Responses
  # ===========================================================================
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Unauthorized:
      description: Unauthorized - Invalid or missing JWT token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: array
                items:
                  type: object
                  properties:
                    loc:
                      type: array
                      items:
                        type: string
                    msg:
                      type: string
                    type:
                      type: string

  # ===========================================================================
  # Security
  # ===========================================================================
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token obtained from authentication endpoint.
        Include in Authorization header as: `Bearer <token>`

security:
  - BearerAuth: []
